<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Sorter.Properties.Settings>
            <setting name="MotorConfig" serializeAs="String">
                <value>Motor.config</value>
            </setting>
            <setting name="UserSetting" serializeAs="String">
                <value>UserSetting.config</value>
            </setting>
            <setting name="PartTray" serializeAs="String">
                <value>PartTray.state</value>
            </setting>
            <setting name="EmptyTray" serializeAs="String">
                <value>EmptyTray.State</value>
            </setting>
            <setting name="FullTray" serializeAs="String">
                <value>FullTray.State</value>
            </setting>
        </Sorter.Properties.Settings>
    </userSettings>
</configuration>
